#welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    text-align: center;
}

#profile-link{
  background-color: lightblue;
}

#profile-link:hover{
  color: white;
}

#project-link:hover #arrow{
  display: inline-block;
}

#arrow{
  display: none;
}

@media screen and (max-width: 800px) {
  #welcome-section {
    background-color: lightblue;
  }
}
